.git
.gitignore

node_modules

client/node_modules
client/npm-debug.log

server/node_modules
server/npm-debug.log
server/img
server/assets_cache
server/build
server/docs
server/data.db

rest-api/node_modules
rest-api/npm-debug.log