@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../../../public/fonts/RobotoCondensed/RobotoCondensed-LightItalic.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../../../public/fonts/RobotoCondensed/RobotoCondensed-Italic.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../../../public/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../../../public/fonts/RobotoCondensed/RobotoCondensed-Light.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../../public/fonts/RobotoCondensed/RobotoCondensed-Regular.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../../../public/fonts/RobotoCondensed/RobotoCondensed-Bold.woff2)
    format('woff2');
}
